@font-face {
  font-family: kyiv;
  src: url(assets/font/kyiv-type-titling/KyivTypeTitling-VarGX.ttf);
}
@font-face {
  font-family: kurale;
  src: url(assets/font/Kurale/Kurale-Regular.ttf);
}
@font-face {
  font-family: kufam;
  src: url(assets/font/Kufam/Kufam-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: kyiv;
  text-decoration: none;
}
* body {
  background-color: antiquewhite;
}

.back-to-cat {
  padding: 0.2em 1em;
  border-radius: 1em 0 0 1em;
  font-size: 1.5em;
  margin: 0.25em 0.75em;
  display: inline-block;
  background-color: rgba(255, 68, 0, 0.747);
}

.img-slider {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow: hidden;
  height: 100%;
}
.img-slider .wrapper {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}
.img-slider .wrapper .slider {
  display: flex;
  aspect-ratio: 10/9;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
.img-slider .wrapper .slider .slide {
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  scroll-snap-align: start;
}
.img-slider .wrapper .slider .slide img {
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  scroll-snap-align: start;
}
.img-slider .wrapper .slider .slide .slidish-texts {
  background-color: rgba(0, 0, 0, 0.664);
  height: 100%;
  color: rgb(255, 255, 255);
  transform: translateY(-10em);
  z-index: 1;
  padding: 1em 2em 0 2em;
  text-shadow: -1px -1px 0 black;
}
.img-slider .wrapper .slider .slide .slidish-texts h3 {
  font-weight: 500;
  letter-spacing: 0.3em;
  font-size: 1.5em;
}
.img-slider .wrapper .slider .slide .slidish-texts p {
  margin: 1em 0 0 0;
  font-weight: 500;
  letter-spacing: 0.5em;
  font-size: 0.9em;
  text-align: justify;
}
.img-slider .wrapper .slider-nav {
  display: flex;
  -moz-column-gap: 1em;
       column-gap: 1em;
  position: absolute;
  top: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 30%;
}
.img-slider .wrapper .slider-nav .nav-button {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: rgb(255, 187, 0);
  transition: opacity ease 250ms;
  cursor: pointer;
}
.img-slider .wrapper .slider-nav .nav-button:hover {
  opacity: 1;
}

header {
  min-height: 5em;
  display: grid;
  padding: 0 2em;
  grid-template-columns: 4fr 6fr;
  align-items: center;
  background-image: url(assets/img/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 6.5em;
  overflow: hidden;
}
header .web-title {
  height: 100%;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.07em;
  display: grid;
  grid-template-columns: 1.5fr 6.3fr 2.2fr;
  color: green;
}
header .web-title .icon {
  aspect-ratio: 1;
  align-self: center;
  max-height: 80%;
  background-image: url("assets/img/lutong-bahay-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgba(99, 2, 2, 0.363);
  border-radius: 0.2em 0.5em 0.2em 0.5em;
  background-color: rgba(252, 255, 255, 0.548);
  margin: 0 0.25em;
}
header .web-title p {
  align-self: center;
  font-size: clamp(1.5em, 2.5vw, 2.25em);
}
header .web-title .logo-design {
  align-self: center;
  height: 80%;
  width: 100%;
  background-image: url("assets/img/logo-design.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .web-tagline {
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.05em;
}

footer {
  border-top: 2px solid black;
  display: grid;
  background-color: rgba(252, 190, 182, 0.849);
}
footer .footer-links {
  display: grid;
  grid-template-columns: 5fr 2fr 3fr;
}
footer .footer-links .footer-title {
  background-image: url("assets/img/footer-title.png");
  background-size: 75% 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 300ms ease-in-out;
}
footer .footer-links .footer-title:hover {
  background-color: rgba(234, 248, 154, 0.2196078431);
  opacity: 0.75;
}
footer .footer-links .footer-title a .footer-img {
  margin: auto;
  height: 100%;
  width: 80%;
}
footer .footer-links .our-service__content, footer .footer-links .helpful-links__content {
  display: flex;
  flex-direction: column;
  margin: 0 0 1em 0;
}
footer .footer-links .our-service__content a, footer .footer-links .helpful-links__content a {
  color: rgba(46, 46, 46, 0.712);
  margin: 0.25em 0.5em;
  transition: all 300ms ease-in-out;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-shadow: -0.1em 0 0.15em rgb(151, 151, 151);
}
footer .footer-links .our-service__content a:hover, footer .footer-links .helpful-links__content a:hover {
  text-decoration: underline;
  text-shadow: -0.2em 0 0.3em rgb(255, 140, 8);
  color: #502001;
}
footer .footer-links .our-service__title, footer .footer-links .helpful-links__title {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0.5em 0;
  letter-spacing: 0.1em;
}
footer p {
  letter-spacing: 0.1em;
  align-self: center;
  text-align: center;
  margin: 0.75em 0;
}
footer p hr {
  margin: 1em 0 0 0;
}

.navbar {
  min-height: 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.705);
  z-index: 10;
}
.navbar__buttons {
  font-size: 1.4em;
  font-weight: 300;
  letter-spacing: 0.15em;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}
.navbar__buttons:hover {
  text-decoration: underline;
  text-shadow: -0.2em 0 0.3em rgb(255, 140, 8);
  color: rgb(0, 0, 0);
}
.navbar .dropdown {
  position: relative;
  display: inline-block;
}
.navbar .dropdown .content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 20;
  padding: 12px 16px;
}
.navbar .dropdown .content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.navbar .dropdown .content a:hover {
  background-color: #ddd;
}
.navbar .dropdown:hover .content {
  display: block;
}

.cat-section {
  min-height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.cat-section .categories {
  min-width: 95%;
  border-spacing: 3em;
  background-color: rgba(238, 135, 121, 0.849);
  border-radius: 3em;
}
.cat-section .categories th {
  font-size: 2.5em;
  letter-spacing: 0.3em;
}
.cat-section .categories tr td {
  height: 15em;
  width: 20%;
  -moz-column-gap: 2em;
       column-gap: 2em;
}

.book {
  height: 100%;
  background-image: url(assets/img/cook-book-icons.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1em;
  cursor: pointer;
  transition: all 500ms;
}
.book__cover-img {
  width: 89%;
  height: 60%;
  position: relative;
  overflow: hidden;
}
.book__cover-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3em;
}
.book__cover-title {
  width: 70%;
  height: 27.5%;
  color: white;
  font-size: clamp(0.75em, 1.5vw, 1.5em);
  margin: 0.3em 0 0 0.5em;
  letter-spacing: 0.3em;
}
.book__cover-title .dish-number {
  margin-top: 0.75em;
  font-size: 0.75em;
  letter-spacing: 0.2em;
}
.book:hover {
  transform: scale(1.05);
}

.blurred {
  filter: blur(5px);
  pointer-events: none;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.popup-container.hidden {
  display: none;
}
.popup-container .popup-content {
  background: rgb(253, 255, 225);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5em 3em;
}
.popup-container .popup-content h2 {
  margin-bottom: 1em;
  font-size: 2em;
}
.popup-container .popup-content p {
  font-size: 1.5em;
}
.popup-container .popup-content button.close-popup {
  margin-top: 5em;
  padding: 10px 20px;
  border: none;
  background-color: rgb(109, 71, 71);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: all 750ms;
}
.popup-container .popup-content button.close-popup:hover {
  background-color: #ffb3b3;
  color: black;
}

.home-body-container {
  display: grid;
}
.home-body-container hr {
  width: 90%;
  margin: auto;
}
.home-body-container main {
  min-height: 42.5em;
  display: grid;
  align-items: center;
  grid-template-columns: 60% 40%;
  background-image: url(assets/img/hero-bg.png);
}
.home-body-container main section {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 0.75fr 8.5fr 0.75fr;
}
.home-body-container main section .slider-window1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  background-image: url(assets/img/kapis-window.png);
  background-size: 100% 100%;
}
.home-body-container main section .slider-window2 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  background-image: url(assets/img/kapis-window.png);
  background-size: 100% 100%;
}
.home-body-container main aside {
  height: 100%;
  background-color: rgba(43, 1, 1, 0.438);
  font-family: kurale;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  color: rgb(235, 238, 208);
  text-shadow: -6px 0 rgb(104, 32, 14);
}
.home-body-container .home-showcase {
  padding: 2em 1em;
  gap: 1em;
  display: grid;
  grid-template-rows: 5fr 5fr;
  border: 1px solid black;
  min-height: 120vh;
}
.home-body-container .home-showcase .bahay {
  background-image: url(assets/img/homebg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 4fr 6fr;
}
.home-body-container .home-showcase .bahay .bahay-desc {
  text-align: justify;
  padding: 1em;
  font-weight: 600;
  letter-spacing: 0.25em;
  font-size: 1.5em;
  color: white;
  background-image: linear-gradient(to top left, rgb(1, 2, 87), rgba(0, 68, 255, 0.863));
}
.home-body-container .home-showcase .hapag {
  background-image: url(assets/img/homebg2.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 6fr 4fr;
}
.home-body-container .home-showcase .hapag .hapag-desc {
  text-align: justify;
  padding: 1em;
  font-weight: 600;
  letter-spacing: 0.25em;
  font-size: 1.5em;
  color: white;
  background-image: linear-gradient(to bottom right, rgb(87, 1, 1), rgba(255, 51, 0, 0.678));
}

#about-body .about-grid {
  background-image: url("assets/img/about-us-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 37.5em;
  overflow: hidden;
}
#about-body .about-grid .about-container {
  background-color: rgba(95, 14, 0, 0.801);
  width: 100%;
  height: 100%;
  padding: 2em 0 0 0;
}
#about-body #about-main {
  box-sizing: border-box;
  size: 100%;
}
#about-body .profile-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#about-body .profile-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about-body .profile-image {
  height: 250px;
  width: 250px;
  margin: 20px;
  border-radius: 20px;
}
#about-body .profile-name {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#about-body .about-description {
  display: inline-block;
  flex: 1;
  padding: 30px;
}
#about-body .content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#about-body #about-aside {
  width: 30%;
  text-align: justify;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  margin: 20px;
  color: white;
}
#about-body #about-section {
  display: inline-block;
  width: 70%;
  text-align: justify;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  margin: 20px;
  color: white;
}
#about-body #about-main p {
  font-size: 1.5em;
}

#favorites {
  font-family: "Kurale", serif;
  background: url("assets/img/favoritesBG1.png");
  max-height: 100vh;
  color: white;
  background-size: cover;
  background-position: center;
  display: grid;
}
#favorites .container {
  margin-left: 2em;
  z-index: 2;
  width: 50%;
  text-align: center;
  padding: 2em 0 5em 0;
}
#favorites .container h2 {
  font-size: 7.5em;
  font-weight: 600;
  font-family: kurale;
  letter-spacing: 0.15em;
  line-height: 1;
}
#favorites .container .sub-text {
  letter-spacing: 0.35em;
  margin-top: 1.25em;
  font-size: 2em;
  font-weight: 300;
  font-family: kurale;
}

#top-dish {
  background-color: black;
  text-align: center;
  padding-bottom: 50px;
}
#top-dish .wrapper {
  max-height: 350px;
  border: 1px solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  padding: 20px;
  margin: 0 auto;
  width: 1140px;
  transition: 0.5s;
  cursor: pointer;
}
#top-dish .wrapper::-webkit-scrollbar {
  width: 0;
}
#top-dish .dish-container {
  position: relative;
  transition: transform 1000ms, opacity 1000ms;
}
#top-dish .dishImg {
  width: 235px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  margin: 0 1em;
  transition: transform 1000ms, opacity 1000ms;
}
#top-dish .dish-container:hover .dishImg {
  transform: scale(1.05);
  opacity: 0.5;
}
#top-dish .read-more {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
}
#top-dish .dish-container:hover .read-more {
  display: block;
}
#top-dish .dishText {
  color: white;
  margin-top: 10px;
  font-size: 1em;
}
#top-dish hr.line {
  margin: 0 auto 50px auto;
}
#top-dish hr.line::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
}
#top-dish h2 {
  color: white;
  margin-bottom: 50px;
}

#hall-of-fame {
  width: 100%;
  min-height: 90vh;
  background-image: url("assets/img/favortiesbg2.jpg");
  background-size: cover;
  background-position: center;
  font-family: kurale;
}
#hall-of-fame .red-filter {
  background-color: rgba(167, 22, 3, 0.623);
}
#hall-of-fame .hof-title {
  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  text-align: center;
  padding: 1em 0;
  background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0.705), rgba(255, 255, 255, 0));
}
#hall-of-fame .hof-title hr {
  color: rgb(255, 255, 255);
  height: 3px;
  align-self: center;
  margin: 0 5em;
}
#hall-of-fame .hof-title h2 {
  color: white;
  font-weight: 300;
}
#hall-of-fame .favorites-history {
  display: grid;
  grid-template-columns: 5fr 5fr;
  text-align: center;
}
#hall-of-fame .favorites-history ul {
  list-style-type: none;
  background-color: rgba(238, 135, 121, 0.849);
  margin: 1.25em 5em 1em 5em;
  padding: 1em 0;
  border-radius: 5em 0.2em 5em 0.2em;
}
#hall-of-fame .favorites-history ul li {
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
  transition: all 500ms;
}
#hall-of-fame .favorites-history ul li span {
  color: white;
  transition: all 500ms;
}
#hall-of-fame .favorites-history ul li:hover {
  text-shadow: #ffd103 2px 3px 5px;
  font-weight: 600;
  text-decoration: underline;
}
#hall-of-fame .favorites-history ul li:hover span {
  text-shadow: #ff0303 2px 3px 5px;
}

.new-cat-section {
  width: 100%;
  display: grid;
  grid-template-columns: 2.5fr 7.5fr;
}
.new-cat-section .dish-type-buttons {
  display: flex;
  flex-direction: column;
  padding: 7em 2em;
  border-right: 3px solid rgba(0, 0, 0, 0.295);
  margin: 0 1em;
}
.new-cat-section .dish-type-buttons * {
  border: none;
  font-size: 1.75em;
  margin-bottom: 1.5em;
  background-color: antiquewhite;
  cursor: pointer;
  transition: all 500ms;
  border-radius: 2em 0 2em 0;
}
.new-cat-section .dish-type-buttons *:hover {
  background-color: rgba(128, 128, 128, 0.582);
  font-weight: 600;
}
.new-cat-section .dish-type-buttons .selected {
  background-color: rgba(128, 128, 128, 0.582);
  font-weight: 600;
}
.new-cat-section .dish-per-category {
  padding: 1em 2em;
}
.new-cat-section .dish-per-category h2 {
  text-align: center;
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 0.25em;
  text-decoration: underline;
}
.new-cat-section .dish-per-category .dishes-grid {
  margin: 2em 0 0 0em;
  list-style-type: none;
  -moz-column-count: 2;
       column-count: 2;
}
.new-cat-section .dish-per-category .dishes-grid li .book {
  height: 18.5em;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  align-self: center;
  width: 70%;
  margin: 0em auto 1em auto;
  overflow: hidden;
}
.new-cat-section .dish-per-category .dishes-grid li .book__cover-img {
  margin: 0 2em 0 0;
  background-color: white;
  width: 90%;
  height: 60%;
}

.dish-details-container {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 5fr;
}
.dish-details-container aside {
  padding: 2em;
  display: grid;
  grid-template-rows: 1fr 9fr;
}
.dish-details-container aside h1 {
  text-align: center;
  letter-spacing: 0.15em;
  font-size: 2.75em;
  text-decoration: underline;
}
.dish-details-container aside img {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2em 0.2em;
  border: 4px inset rgba(255, 214, 139, 0.527);
}
.dish-details-container .dish-content {
  padding: 2em;
}
.dish-details-container .dish-content .dish-ingredients, .dish-details-container .dish-content .dish-procedure {
  background-image: linear-gradient(90deg, rgba(247, 84, 84, 0.705), rgba(236, 190, 162, 0.158));
  margin-bottom: 1em;
  padding: 1em 2em 2em;
  border-radius: 0.2em 1.5em 7em 1.5em;
}
.dish-details-container .dish-content .dish-ingredients h2, .dish-details-container .dish-content .dish-procedure h2 {
  letter-spacing: 0.25em;
  text-decoration: underline;
  margin-bottom: 1em;
  font-size: 2em;
}
.dish-details-container .dish-content .dish-ingredients ul, .dish-details-container .dish-content .dish-ingredients ol, .dish-details-container .dish-content .dish-procedure ul, .dish-details-container .dish-content .dish-procedure ol {
  list-style-type: none;
  font-size: 1.25em;
}
.dish-details-container .dish-content .dish-ingredients ul li, .dish-details-container .dish-content .dish-ingredients ol li, .dish-details-container .dish-content .dish-procedure ul li, .dish-details-container .dish-content .dish-procedure ol li {
  margin-bottom: 0.8em;
}

.dropdown a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

.dropdown .content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 2px 2px 5px black;
}

.dropdown:hover .content {
  display: block;
}

.dropdown .content a:hover {
  background-color: #db6464;
}

.origins-page-container {
  display: grid;
}
.origins-page-container .hero {
  background-image: url("assets/img/origins-bg1.jpg");
  background-position: center;
  background-size: cover;
}
.origins-page-container .hero__child {
  border-radius: 0.5em;
  height: 80%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0);
}
.origins-page-container .hero h2 {
  font-size: 6em; /* Adjust as needed */
  text-align: center;
  font-family: kurale;
  padding: 2px;
  letter-spacing: 0.15em;
  color: white;
  text-shadow: black -5px 3.5px 0;
}
.origins-page-container .hero h2 span {
  font-family: kurale;
  font-size: 0.65em; /* Different font size for "of" */
  color: rgb(255, 255, 255);
}
.origins-page-container .hero p {
  text-align: center;
  font-size: 1.25em;
  letter-spacing: 0.25em;
  color: white;
  margin: 1em 0 0 0;
  padding: 0 4em;
  text-shadow: black -1px 2px 0;
  line-height: 1.5em;
}
.origins-page-container .influence {
  color: white;
  text-align: justify;
  font-size: 2.5em;
  font-family: kurale;
  margin-left: 2em;
  align-self: center;
}
.origins-page-container .native {
  background-image: url("assets/img/ph-flag.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.origins-page-container .native .person {
  align-self: center;
  width: auto;
  height: 75%;
  background-image: url("assets/img/native-influence.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.origins-page-container .influence {
  color: white;
  text-align: justify;
  font-size: 2.5em;
  font-family: kurale;
  margin: 0 2em;
  align-self: center;
}
.origins-page-container .spanish {
  background-image: url("assets/img/sp-flag.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.origins-page-container .spanish .person {
  align-self: center;
  width: auto;
  height: 75%;
  background-image: url("assets/img/spanish-influence.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.origins-page-container .chinese {
  background-image: url("assets/img/cn-flag.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.origins-page-container .chinese .person {
  align-self: center;
  width: auto;
  height: 75%;
  background-image: url("assets/img/chinese-influence.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.origins-page-container .american {
  background-image: url("assets/img/us-flag.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.origins-page-container .american .person {
  align-self: center;
  width: auto;
  height: 75%;
  background-image: url("assets/img/american-influence.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.origins-page-container .japanese {
  background-image: url("assets/img/jp-flag.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.origins-page-container .japanese .person {
  align-self: center;
  width: auto;
  height: 75%;
  background-image: url("assets/img/japanese-influence.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.origins-page-container .modern {
  background-image: url("assets/img/origins-bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.origins-page-container .modern .person {
  align-self: center;
  width: auto;
  height: 75%;
  background-image: url("assets/img/modern-filipino.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.origins-page-container .card {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.origins-page-container .card__child {
  border-radius: 0.5em;
  height: 80%;
  width: 80%;
  background-color: rgba(255, 68, 0, 0.747);
  padding: 0 2.5em;
}
.origins-page-container .left {
  display: grid;
  grid-template-columns: 3.5fr 6.5fr;
}
.origins-page-container .right {
  display: grid;
  grid-template-columns: 6.5fr 3.5fr;
}

.contacts-body-container {
  background-image: url("assets/img/contact-us-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50em;
  padding: 2em 5em;
}
.contacts-body-container main {
  display: grid;
  grid-template-columns: 3fr 7fr;
  background-color: rgba(85, 53, 53, 0.8);
  min-height: 40em;
  border-radius: 1em;
  overflow: hidden;
}
.contacts-body-container main .contact-img {
  text-align: center;
  background-image: url("assets/img/contact-us-picture.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contacts-body-container main .contact-img h2 {
  font-size: 2.35em;
  font-weight: 400;
  letter-spacing: 0.125em;
  margin: 2.5em 0 0 0;
  color: white;
}
.contacts-body-container main .contact-form {
  text-align: center;
  color: rgb(255, 255, 255);
  display: grid;
}
.contacts-body-container main .contact-form p {
  margin: 1em 2em;
  font-size: 1.3em;
  letter-spacing: 0.225em;
}
.contacts-body-container main .contact-form form {
  display: grid;
  grid-template-columns: 3fr 7fr;
  min-height: 100%;
}
.contacts-body-container main .contact-form form .labels {
  display: grid;
  grid-template-rows: 1.5fr 1.5fr 1.5fr 5fr 0.5fr;
}
.contacts-body-container main .contact-form form .labels * {
  font-weight: bolder;
  margin: 2em auto 0 auto;
  font-size: 1.3em;
  padding: 0.5em 3em;
  letter-spacing: 0.175em;
}
.contacts-body-container main .contact-form form .forms {
  display: grid;
  grid-template-rows: 1.5fr 1.5fr 1.5fr 5fr 0.5fr;
}
.contacts-body-container main .contact-form form .forms * {
  margin: 2em 2em 0 0;
  font-size: 1.3em;
  padding: 0 1em;
  letter-spacing: 0.1em;
}
.contacts-body-container main .contact-form form .forms textarea {
  padding: 0.65em 1em;
}
.contacts-body-container main .contact-form .send-msg {
  height: 3em;
  width: 15em;
  background-color: #4d2525;
  color: rgb(219, 189, 148);
  margin: 0 auto 2em auto;
  border-radius: 1em;
  font-weight: 400;
  letter-spacing: 0.3em;
  font-size: 1.5em;
  border: outset 0.15em #4b2020;
  transition: all 300ms;
  cursor: pointer;
}
.contacts-body-container main .contact-form .send-msg:hover {
  background-color: rgb(243, 153, 117);
  transition: all 750ms;
  color: #4d2525;
  border: outset 0.15em rgb(245, 138, 96);
}
.contacts-body-container main .contact-form .send-msg:active {
  border: inset 0.15em rgb(245, 138, 96);
}

.policy-container, .terms-container {
  border: 1px solid black;
  text-align: center;
  align-items: center;
  padding: 2.5em 0 3em 0;
}
.policy-container h1, .terms-container h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}
.policy-container .policy-content, .policy-container .terms-content, .terms-container .policy-content, .terms-container .terms-content {
  background-color: rgba(252, 175, 127, 0.5058823529);
  margin: auto;
  align-self: center;
  width: 60%;
  min-height: 50vh;
  text-align: justify;
  padding: 1.5em 5em;
  border-radius: 1em 0 5em 3em;
}
.policy-container .policy-content li, .policy-container .terms-content li, .terms-container .policy-content li, .terms-container .terms-content li {
  margin-bottom: 1em;
  font-size: 1.25em;
}/*# sourceMappingURL=style.css.map */