@font-face {
  font-family: kyiv;
  src: url(assets/font/kyiv-type-titling/KyivTypeTitling-VarGX.ttf);
}
@font-face {
  font-family: kurale;
  src: url(assets/font/Kurale/Kurale-Regular.ttf);
}
@font-face {
  font-family: kufam;
  src: url(assets/font/Kufam/Kufam-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: kyiv;
  text-decoration: none;
}
* body {
  background-color: antiquewhite;
}

.img-slider {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow: hidden;
  height: 100%;
}
.img-slider .wrapper {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}
.img-slider .wrapper .slider {
  display: flex;
  aspect-ratio: 10/9;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
.img-slider .wrapper .slider .slide {
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  scroll-snap-align: start;
}
.img-slider .wrapper .slider .slide img {
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  scroll-snap-align: start;
}
.img-slider .wrapper .slider .slide .slidish-texts {
  background-color: rgba(0, 0, 0, 0.664);
  height: 100%;
  color: rgb(255, 255, 255);
  transform: translateY(-10em);
  z-index: 1;
  padding: 1em 2em 0 2em;
  text-shadow: -1px -1px 0 black;
}
.img-slider .wrapper .slider .slide .slidish-texts h3 {
  font-weight: 500;
  letter-spacing: 0.3em;
  font-size: 1.5em;
}
.img-slider .wrapper .slider .slide .slidish-texts p {
  margin: 1em 0 0 0;
  font-weight: 500;
  letter-spacing: 0.5em;
  font-size: 0.9em;
  text-align: justify;
}
.img-slider .wrapper .slider-nav {
  display: flex;
  -moz-column-gap: 1em;
       column-gap: 1em;
  position: absolute;
  top: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 30%;
}
.img-slider .wrapper .slider-nav .nav-button {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: rgb(255, 187, 0);
  transition: opacity ease 250ms;
  cursor: pointer;
}
.img-slider .wrapper .slider-nav .nav-button:hover {
  opacity: 1;
}

header {
  min-height: 5em;
  display: grid;
  padding: 0 2em;
  grid-template-columns: 4fr 6fr;
  align-items: center;
  background-image: url(assets/img/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 6.5em;
  overflow: hidden;
}
header .web-title {
  height: 100%;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.07em;
  display: grid;
  grid-template-columns: 1.5fr 6.3fr 2.2fr;
  color: green;
}
header .web-title .icon {
  aspect-ratio: 1;
  align-self: center;
  max-height: 80%;
  background-image: url("assets/img/lutong-bahay-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgba(99, 2, 2, 0.363);
  border-radius: 0.2em 0.5em 0.2em 0.5em;
  background-color: rgba(252, 255, 255, 0.548);
  margin: 0 0.25em;
}
header .web-title p {
  align-self: center;
  font-size: clamp(1.5em, 2.5vw, 2.25em);
}
header .web-title .logo-design {
  align-self: center;
  height: 80%;
  width: 100%;
  background-image: url("assets/img/logo-design.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .web-tagline {
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.05em;
}

.navbar {
  min-height: 2em;
  display: flex;
  justify-content: center;
  gap: 4em;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.705);
  z-index: 1;
}
.navbar__buttons {
  font-size: 1.4em;
  font-weight: 300;
  letter-spacing: 0.15em;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}
.navbar__buttons:hover {
  text-decoration: underline;
  text-shadow: -0.2em 0 0.3em rgb(255, 140, 8);
  color: rgb(0, 0, 0);
}

.cat-section {
  min-height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.cat-section .categories {
  min-width: 95%;
  border-spacing: 3em;
  background-color: rgba(238, 135, 121, 0.849);
  border-radius: 3em;
}
.cat-section .categories th {
  font-size: 2.5em;
  letter-spacing: 0.3em;
}
.cat-section .categories tr td {
  height: 15em;
  width: 20%;
  -moz-column-gap: 2em;
       column-gap: 2em;
}

.book {
  height: 100%;
  background-image: url(assets/img/cook-book-icons.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1em;
}
.book__cover-img {
  width: 89%;
  height: 60%;
  position: relative;
  overflow: hidden;
}
.book__cover-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3em;
}
.book__cover-title {
  width: 70%;
  height: 27.5%;
  color: white;
  font-size: 1.5em;
  margin: 0.3em 0 0 0.5em;
  letter-spacing: 0.3em;
}
.book__cover-title .dish-number {
  margin-top: 0.75em;
  font-size: 0.75em;
  letter-spacing: 0.2em;
}

.home-body-container {
  display: grid;
}
.home-body-container hr {
  width: 90%;
  margin: auto;
}
.home-body-container main {
  min-height: 42.5em;
  display: grid;
  align-items: center;
  grid-template-columns: 60% 40%;
  background-image: url(assets/img/hero-bg.png);
}
.home-body-container main section {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 0.75fr 8.5fr 0.75fr;
}
.home-body-container main section .slider-window1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  background-image: url(assets/img/kapis-window.png);
  background-size: 100% 100%;
}
.home-body-container main section .slider-window2 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  background-image: url(assets/img/kapis-window.png);
  background-size: 100% 100%;
}
.home-body-container aside {
  height: 100%;
  background-color: rgba(43, 1, 1, 0.438);
  font-family: kurale;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  color: rgb(235, 238, 208);
  text-shadow: -6px 0 rgb(104, 32, 14);
}
.home-body-container footer {
  min-height: 10em;
}

#favorites {
  font-family: "Kurale", serif;
  background: url("assets/img/favoritesBG1.png");
  min-height: 85vh;
  color: white;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
#favorites .container {
  max-width: 1200px;
  padding: 16px;
  margin: auto;
  position: relative;
  z-index: 2;
}
#favorites .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 84vh;
  background: rgba(0, 0, 0, 0.5);
}
#favorites .container h2 {
  font-size: 6em;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding-left: 12%;
  font-family: kurale;
}
#favorites .container h1 {
  font-size: 7em;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding-left: 3%;
  margin-bottom: 20px;
  font-family: kurale;
}
#favorites .container .sub-text {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.18em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  padding-left: 3%;
  font-family: kurale;
}
#favorites .container .sub-text span {
  margin-top: 5px;
  padding-left: 7%;
}

#top-dish {
  background-color: black;
  text-align: center;
  padding-bottom: 0px;
}
#top-dish .wrapper {
  max-height: 350px; /* Adjusted max-height */
  border: 1px solid;
  display: flex;
  justify-content: flex-start; /* Align images to the start */
  align-items: center; /* Center the images vertically */
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 20px; /* Add padding if needed */
  margin: 0 auto; /* Center the wrapper container */
  width: 1140px; /* Width for 4 images + margins + padding */
  transition: 0.5s; /* Smooth transition */
  cursor: pointer;
}
#top-dish .wrapper::-webkit-scrollbar {
  width: 0;
}
#top-dish .dish-container {
  position: relative; /* Ensure the read-more is positioned relative to the container */
}
#top-dish .dishImg {
  width: 235px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  margin: 0 1em;
  transition: 1000ms;
}
#top-dish .dishImg:hover {
  transform: scale(1.05);
  opacity: 0.5;
}
#top-dish .read-more {
  display: none; /* Hide by default */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
}
#top-dish .dish-container:hover .read-more {
  display: block; /* Show on hover */
}
#top-dish .dishText {
  color: white;
  margin-top: 10px;
  font-size: 1em;
}
#top-dish hr.line {
  width: 80%;
  border: 1px solid white;
  margin: 0 auto 50px auto; /* Centers the hr element */
  background-position: center;
  position: relative; /* Ensure the pseudo-element is positioned relative to the hr */
  font-family: kurale;
}
#top-dish hr.line::before {
  content: "";
  position: absolute;
  top: -20px; /* Adjust the position as needed */
  left: 0;
  width: 100%;
  height: 20px; /* Adjust the height as needed */
  background-color: black; /* Black background color */
}
#top-dish h2 {
  color: white;
  margin-bottom: 50px;
}

.origins-page-container {
  display: grid;
}
.origins-page-container .card {
  border: 1px solid black;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.origins-page-container .card__child {
  border: 1px solid black;
  height: 90%;
  width: 80%;
}

.contacts-body-container {
  display: grid;
}/*# sourceMappingURL=style.css.map */