@font-face {
    font-family: kyiv;
    src: url(assets/font/kyiv-type-titling/KyivTypeTitling-VarGX.ttf);
}

@font-face {
    font-family: kurale;
    src: url(assets/font/Kurale/Kurale-Regular.ttf);
}

@font-face {
    font-family: kufam;
    src: url(assets/font/Kufam/Kufam-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: kyiv;
    text-decoration: none;
    body {
        background-color: antiquewhite;
    }
}


// reusable

.img-slider {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: hidden;
    height: 100%;

    .wrapper {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        height: 100%;

        .slider {
            display: flex;
            aspect-ratio: 10 / 9;
            overflow-x: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            height: 100%;
            width: 100%;

            .slide {
                flex: 1 0 100%;
                width: 100%;
                height: 100%;
                object-fit: fill;
                scroll-snap-align: start;

                img {
                    flex: 1 0 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    scroll-snap-align: start;
                }

                .slidish-texts {
                    background-color: rgba(0, 0, 0, 0.664);
                    height: 100%;
                    color: rgb(255, 255, 255);
                    transform: translateY(-10em);
                    z-index: 1;
                    padding: 1em 2em 0 2em;
                    text-shadow: -1px -1px 0 black;

                    h3 {
                        font-weight: 500;
                        letter-spacing: .3em;
                        font-size: 1.5em;
                    }

                    p {
                        margin: 1em 0 0 0;
                        font-weight: 500;
                        letter-spacing: .5em;
                        font-size: .9em;
                        text-align: justify;
                    }
                    
                }
            }
        }

        .slider-nav {
            display: flex;
            column-gap: 1em;
            position: absolute;
            top: 1.5em;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            border-radius: 30%;

            .nav-button {
                width: .5em;
                height: .5em;
                border-radius: 50%;
                background-color: rgb(255, 187, 0);
                transition: opacity ease 250ms;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}


header {
    min-height: 5em;
    display: grid;
    padding: 0 2em;
    grid-template-columns: 4fr 6fr;
    align-items: center;
    background-image: url(assets/img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 6.5em;
    overflow: hidden;


    .web-title {
        height: 100%;
        text-align: center;
        font-weight: 600;
        letter-spacing: .07em;
        display: grid;
        grid-template-columns: 1.5fr 6.3fr 2.2fr;
        color: green;

        .icon {
            aspect-ratio: 1;
            align-self: center;
            max-height: 80%;
            background-image: url('assets/img/lutong-bahay-logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            border: 2px solid rgba(99, 2, 2, 0.363);
            border-radius: .2em .5em .2em .5em ;
            background-color: rgba(252, 255, 255, 0.548);
            margin: 0 .25em;
        }

        p {
            align-self: center;
            font-size: clamp(1.5em, 2.5vw, 2.25em);
        }
        
        .logo-design {
            align-self: center;
            height: 80%;
            width: 100%;
            background-image: url('assets/img/logo-design.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }



        
    }

    .web-tagline {
        text-align: center;
        font-size: 1.5em;
        letter-spacing: .05em;
    }
}

.navbar {
    min-height: 2em;
    display: flex;
    justify-content: center;
    gap: 4em;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 10; // Increase z-index to ensure it appears above other elements

    &__buttons {
        font-size: 1.4em;
        font-weight: 300;
        letter-spacing: .15em;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        cursor: pointer;
        text-decoration: none;
        transition: all 300ms ease-in-out;

        &:hover {
            text-decoration: underline;
            text-shadow: -.2em 0 .3em rgb(255, 140, 8);
            color: rgb(0, 0, 0);
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;

        .content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 20; // Ensure the dropdown appears above other elements
            padding: 12px 16px;

            a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;

                &:hover {
                    background-color: #ddd;
                }
            }
        }

        &:hover .content {
            display: block;
        }
    }
}

.cat-section {
    min-height: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;

    .categories {
        min-width: 95%;
        border-spacing: 3em;
        background-color: rgba(238, 135, 121, 0.849);
        border-radius: 3em;

        th {
            font-size: 2.5em;
            letter-spacing: .3em;
        }

        tr td {
            height: 15em;
            width: 20%;
            column-gap: 2em;
        }
    }
}

.book {
    height: 100%;
    background-image: url(assets/img/cook-book-icons.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1em;

    &__cover-img {
        width: 89%;
        height: 60%;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: .3em;
        }
    }

    &__cover-title {
        width: 70%;
        height: 27.5%;
        color: white;
        font-size: 1.5em;
        margin: .3em 0 0 .5em;
        letter-spacing: .3em;
        
        .dish-number {
            margin-top: .75em;
            font-size: .75em;
            letter-spacing: .2em;
        }
    }

}

.blurred {
    filter: blur(5px);
    pointer-events: none;
}
  
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  
    &.hidden {
      display: none;
    }
  
    .popup-content {
      background: rgb(253, 255, 225);
      text-align: center;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      padding: 5em 3em;

      h2 {
        margin-bottom: 1em;
        font-size: 2em;
      }

      p {
        font-size: 1.5em;
      }

      button.close-popup {
        margin-top: 5em;
        padding: 10px 20px;
        border: none;
        background-color: rgb(109, 71, 71);
        color: white;
        cursor: pointer;
        border-radius: 5px;
        transition: all 750ms;
  
        &:hover {
          background-color: #ffb3b3;
          color: black;
        }
      }
    }
  }

// home page and default
.home-body-container {
    display: grid;

    hr {
        width: 90%;
        margin: auto;
    }

    main {
        min-height: 42.5em;
        display: grid;
        align-items: center;
        grid-template-columns: 60% 40%;
        background-image: url(assets/img/hero-bg.png);


        section {
            height: 80%;
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 6fr 2fr;
            grid-template-rows: .75fr 8.5fr .75fr;

            .slider-window1 {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 4;
                background-image: url(assets/img/kapis-window.png);
                background-size: 100% 100%;
            }

            .slider-window2 {
                grid-column-start: 3;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 4;
                background-image: url(assets/img/kapis-window.png);
                background-size: 100% 100%;
            }
        }
    }

        aside {
            height: 100%;
            background-color: rgba(43, 1, 1, 0.438);
            font-family: kurale;
            text-align: center;
            font-size: 3em;
            font-weight: 600;
            color: rgb(235, 238, 208);
            text-shadow: -6px 0 rgb(104, 32, 14);
        }

    footer {
        min-height: 10em;
    }

}

// about page - ian
#about-body{
    background-image: url(assets/img/hero-bg.png);
}
#about-main{
    box-sizing: border-box;
    size: 100%;
}
.profile-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.profile-image-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.profile-image{
    height: 250px;
    width: 250px;
    margin: 20px;
    border-radius: 20px;
}
.profile-name {
    margin-top: 10px;
    margin-bottom: 10px; 
    text-align: center;
}
.about-description {
    display: inline-block;
    flex: 1; 
    padding: 30px;
}
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#about-aside {
    width: 30%;
    text-align: justify;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.90);
    border-radius: 20px;
    margin: 20px;
    color: white;
}

#about-section {
    display: inline-block;
    width: 70%;
    text-align: justify;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.90);
    border-radius: 20px;
    margin: 20px;
    color: white;
}
#about-main p{
    font-size: 1.5em;
}


// favorites page - mark
#favorites {
    font-family: 'Kurale', serif;
    background: url('assets/img/favoritesBG1.png');
    min-height: 85vh;
    color: white;
    background-size: cover;
    background-position: center;
    object-fit: cover;

    .container {
        max-width: 1200px;
        padding: 16px;
        margin: auto;
        position: relative;
        z-index: 2;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            min-height: 84vh;
            background: rgba(0, 0, 0, 0.5);
        }

        h2 {
            font-size: 6em;
            font-weight: 600;
            letter-spacing: 0.05em;
            padding-left: 12%;
            font-family: kurale;
        }

        h1 {
            font-size: 7em;
            font-weight: 700;
            letter-spacing: 0.05em;
            padding-left: 3%;

            margin-bottom: 20px;
            font-family: kurale;
        }

        .sub-text {
            font-size: 2em;
            font-weight: 300;
            letter-spacing: 0.18em;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 40px;
            padding-left: 3%;
            font-family: kurale;

            span {
                margin-top: 5px; 
                padding-left: 7%;
            }
        }
    }
}

#top-dish {
    background-color: black;
    text-align: center;
    padding-bottom: 50px;

    .wrapper {
        max-height: 350px; /* Adjusted max-height */
        border: 1px solid;
        display: flex;
        justify-content: flex-start; /* Align images to the start */
        align-items: center; /* Center the images vertically */
        overflow-x: auto; /* Enable horizontal scrolling */
        padding: 20px; /* Add padding if needed */
        margin: 0 auto; /* Center the wrapper container */
        width: calc(250px * 4 + 20px * 5 + 40px); /* Width for 4 images + margins + padding */
        transition: 0.5s; /* Smooth transition */
        cursor: pointer;
    }

    .wrapper::-webkit-scrollbar {
        width: 0;
    }

    .dish-container {
        position: relative; /* Ensure the read-more is positioned relative to the container */
        transition: transform 1000ms, opacity 1000ms;
    }

    .dishImg {
        width: 235px;
        height: 300px;
        object-fit: cover;
        border-radius: 15px;
        margin: 0 1em;
        transition: transform 1000ms, opacity 1000ms;
    }

    .dish-container:hover .dishImg {
        transform: scale(1.05);
        opacity: 0.5;
    }

    .read-more {
        display: none; /* Hide by default */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        background-color: rgb(0, 0, 0);
        padding: 5px 10px;
        border-radius: 5px;
    }

    .dish-container:hover .read-more {
        display: block; /* Show on hover */
    }

    .dishText {
        color: white;
        margin-top: 10px;
        font-size: 1em;
    }

    hr.line {
        margin: 0 auto 50px auto; /* Centers the hr element */

        &::before {
            content: "";
            position: absolute;
            top: -20px; /* Adjust the position as needed */
            left: 0;
            width: 100%;
            height: 20px; /* Adjust the height as needed */
        }
    }

    h2 {
        color: white;
        margin-bottom: 50px;
    }
}
// categories page - any

    // dropdown for categories by yours truly :p
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
  
.dropdown .content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}
.dropdown:hover .content{
    display: block;
}

.dropdown .content a:hover{
    background-color: #db6464;
}

// origins page - alejandre/mark

.origins-page-container {
    display: grid;

    .hero {
        background-image: url('assets/img/origins-bg1.jpg');
        background-position: center;
        background-size: cover;
        &__child {
            border-radius: .5em;
            height: 80%;
            width: 80%;
            background-color: rgba(255, 255, 255, 0);
        }
        h2 {
            font-size: 6em; /* Adjust as needed */
            text-align: center;
            font-family: kurale;
            padding: 2px;
            letter-spacing: .150em;
            color: white;
            text-shadow: black -5px 3.5px 0;
            span {
                font-family: kurale;
                font-size: .65em; /* Different font size for "of" */
                color: rgb(255, 255, 255); 
            }
        }
        p {
            text-align: center;
            font-size: 1.25em;
            letter-spacing: .25em;
            color: white;
            margin: 1em 0 0 0;    
            padding: 0 4em;    
            text-shadow: black -1px 2px 0;    
            line-height: 1.5em;
        }
    }

    .influence{
        color: white;
        text-align: justify;
        font-size: 2.5em;
        font-family: kurale;
        margin-left: 2em;
        align-self: center;
    }

    .native{
        background-image: url('assets/img/ph-flag.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: 100%;

        .person {
            align-self: center;
            width: auto;
            height: 75%;
            background-image: url('assets/img/native-influence.jpg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    
    .influence{
        color: white;
        text-align: justify;
        font-size: 2.5em;
        font-family: kurale;
        margin: 0 2em;
        align-self: center;
    }
    
    .spanish{
        background-image: url('assets/img/sp-flag.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: 100%;

        .person {
            align-self: center;
            width: auto;
            height: 75%;
            background-image: url('assets/img/spanish-influence.jpg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .chinese{
        background-image: url('assets/img/cn-flag.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: 100%;

        .person {
            align-self: center;
            width: auto;
            height: 75%;
            background-image: url('assets/img/chinese-influence.jpg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .american{
        background-image: url('assets/img/us-flag.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: 100%;

        .person {
            align-self: center;
            width: auto;
            height: 75%;
            background-image: url('assets/img/american-influence.jpg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .japanese{
        background-image: url('assets/img/jp-flag.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: 100%;

        .person {
            align-self: center;
            width: auto;
            height: 75%;
            background-image: url('assets/img/japanese-influence.jpg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .modern{
        background-image: url('assets/img/origins-bg2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: 100%;

        .person {
            align-self: center;
            width: auto;
            height: 75%;
            background-image: url('assets/img/modern-filipino.jpg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .card {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;

        &__child {
            border-radius: .5em;
            height: 80%;
            width: 80%;
            background-color: rgba(255, 68, 0, 0.747);
            padding: 0 2.5em;
        }
    }
    .left {
        display: grid;
        grid-template-columns: 3.5fr 6.5fr; 
    }
    .right {
        display: grid;
        grid-template-columns: 6.5fr 3.5fr; 
    }
}

// contact page - done
.contacts-body-container {
    background-image: url('assets/img/contact-us-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50em;
    padding: 2em 5em;

    main {
        display: grid;
        grid-template-columns: 3fr 7fr;
        background-color:rgba(85, 53, 53, 0.8);
        min-height: 40em;
        border-radius: 1em;
        overflow: hidden;

        .contact-img {
            text-align: center;
            background-image: url('assets/img/contact-us-picture.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            h2 {
                font-size: 2.35em;
                font-weight: 400;
                letter-spacing: .125em;
                margin: 2.5em 0 0 0;
                color: white;
            }
        }

        .contact-form {
            text-align: center;
            color: rgb(255, 255, 255);
            display: grid;

            p {
                margin: 1em 2em;
                font-size: 1.3em;
                letter-spacing: .225em;
                
            }

            form {
                display: grid;
                grid-template-columns: 3fr 7fr;
                min-height: 100%;

                .labels {
                    display: grid;
                    grid-template-rows: 1.5fr 1.5fr 1.5fr 5fr .5fr;
                    * {
                        font-weight: bolder;
                        margin: 2em auto 0 auto;
                        font-size: 1.3em;
                        padding: .5em 3em;        
                        letter-spacing: .175em;        
                    }
                }

                .forms {
                    display: grid;
                    grid-template-rows: 1.5fr 1.5fr 1.5fr 5fr .5fr;

                    * {
                        margin: 2em 2em 0 0;
                        font-size: 1.3em;
                        padding: 0 1em;
                        letter-spacing: .1em;

                    }

                    textarea {
                        padding: .65em 1em;
                    }
                }
            }

            .send-msg {
                height: 3em;
                width: 15em;
                background-color: #4d2525;
                color: rgb(219, 189, 148);
                margin: 0 auto 2em auto;
                border-radius:1em;
                font-weight: 400;
                letter-spacing: .3em;
                font-size: 1.5em;
                border: outset .15em #4b2020;
                transition: all 300ms;
                cursor: pointer;

                &:hover {
                    background-color: rgb(243, 153, 117);
                    transition: all 750ms;
                    color: #4d2525;
                    border: outset .15em rgb(245, 138, 96);
                }

                &:active {
                    border: inset .15em rgb(245, 138, 96);
                }
            }
        } 
    }
}